
html,body {
    margin: 0;
}

body { 
    background: rgb(128,128,128);
}

.card {
    border: 1px solid black;
    float: left;
    margin: 16px;
    background: rgb(192,192,192);
}
.card p {
    text-align: center;
}

#menu {
    background: rgb(255,255,255);
    padding: 8px;
}

#menu p {
    position: absolute;
    right: 8px;
    top: -8px;
}